.register__wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  .register__form {
    max-width: 600px;
    width: 100%;
    text-align: center;
    h1 {
      font-size: 45px;
      font-weight: 500;
      line-height: 53px;
      letter-spacing: -2.25px;
      color: #374639;
    }
    p {
      margin-bottom: 20px;
    }
    .input_field {
      margin-bottom: 8px;
    }
    input,
    select {
      width: 100%;
      padding: 18px 20px 14px 24px;
    }

    .login-sucess {
      width: 100%;
      padding: 21px 42px 17px 42px;
      background-color: #374639;
      font-size: 19px;
      line-height: 22px;
      letter-spacing: -0.19px;
      color: #d6ddc0;
      cursor: pointer;
    }
    .other-actions {
      margin-top: 10px;
      a {
        color: #374639;
      }
    }
  }
}
